.btn-bn {
	color: white;
	width: 22vw;
	font-size: 2vw;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
.center-btn {
	display: grid;
	justify-content: center;
	grid-auto-flow: column;
	gap: 5%;
	font-size: 2vw;
}
.scrollchor{
	padding: 2.5%;
}
