.cardComponent1 {
	background-color: rgba(0, 0, 0, 0.8);
	width: 70%;
	box-shadow: 1px 1px 2px black, 0 0 1em white;
}
.btn {
	color: white;
	width: 7vw;
	border-radius: 5px;
	background-color: rgb(231, 76, 60, 7);
	font-size: 1.5vw;
	border: none;
}
.center {
	display: grid;
	justify-content: center;
	grid-auto-flow: column;
	gap: 70%;
}
.center2 {
	display: grid;
	justify-content: center;
	grid-auto-flow: column;
	gap: 32%;
}
.vertical{
	padding: 10% 0;
	text-align: center;
}
.icon {
	padding: 3%;
	width: 20vw;
	border-radius: 10%;
}
.subtitleText2{
    font-size: 2.5vw;
}
.selected{
	border: 0.3vw solid white;
	border-radius: 7%;
}
.subtitleText3{
	padding: 2%;
	padding-left: 8%;
    font-size: 1.5vw;
	text-align: left;
}
.subtitleText4{
	padding: 0.8%;
    font-size: 1.5vw;
	text-align: left;
}
.subtitleText5{
    font-size: 1.5vw;
}
.topOcc{
	padding-top: 3%;
}
.bottomOcc{
	padding-bottom: 3.5%;
}
.bottomOccc{
	padding-bottom: 5%;
}
.selectedText{
	padding: 2%;
	border: 0.3vw solid white;
	border-radius: 10px;
}
.container2 {
	padding-left: 7vw;
	display: flex;
    gap: 7%;
}
.container3 {
	padding-bottom: 2%;
	display: flex;
    gap: 7%;
}
.pll1{
	padding-left: 1000%;
}
.none{
	color: transparent;
	background-color: transparent;
}
.titleText2{
	text-shadow: 1px 1px 2px black, 0 0 1em white;
	font-size: 3.5vw;
	letter-spacing: 0.2em;
	margin-bottom: 1%;
	margin-top: 1%;
}

.cardComponent11 {
	background-color: rgba(0, 0, 0, 0.8);
	width: 70%;
	box-shadow: 1px 1px 2px black, 0 0 1em white;
	border-radius: 20px;
}
.cardComponent112 {
	padding-bottom: 2vw;
}
.Text4{
	padding-bottom: 1vw;
    font-size: 1.5vw;
}