.cardComponent1 {
	background-color: rgba(0, 0, 0, 0.8);
	width: 70%;
	box-shadow: 1px 1px 2px black, 0 0 1em white;
}
.btn {
	color: white;
	width: 6vw;
	border-radius: 5px;
	background-color: rgb(231, 76, 60, 7);
	margin-top: 10%;
	box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
.center {
	display: grid;
	justify-content: center;
	grid-auto-flow: column;
	gap: 75%;
	font-size: 14px;
}
