.cardComponent {
	background-color: rgba(0, 0, 0, 0.8);
	width: 70%;
	text-align: left;
}
.photo {
	width: 28vw;
}
.container {
	display: flex;
	justify-content: center;
	padding: 1.5em;
}
.rateContainer{
    display: flex;
}
.btn-grad {
	background-color: rgb(231, 76, 60);
	border: none;
	border-radius: 3px;
	padding: 0.3%;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-size: 1.6vw;
	word-spacing: 0.3em;
	letter-spacing: 0.1em;
}
.btn-grad2 {
	background-color: rgb(231, 76, 60);
    border: none;
    border-radius: 3px;
    padding: 10%;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    word-spacing: 0.3em;
	letter-spacing: 0.1em;
}
.text3{
    width: 60%;
    position:absolute;
    padding-right: 2em;
    font-size: 1.5vw;
    bottom:19%;                             
}
.Rate{
    padding-left: 2%;
    padding-top: 0.1%;
    padding-right: 5%;
}
.pbb{
    padding-bottom: 1em;
}
.titleText{
    font-size: 4vw;
    text-shadow: 1px 1px 2px black, 0 0 1em white;
    padding-bottom: 1%;
}
.subtitleText{
    font-size: 2vw;
    padding-bottom: 5%;
}
