.cardComponent {
	background-color: rgba(0, 0, 0, 0.8);
	width: 70%;
	text-align: left;
}
.photo {
	width: 28vw;
}
.container {
	display: flex;
	justify-content: center;
	padding: 1.5em;
}
.btn-grad {
	background-color: rgb(231, 76, 60);
	border: none;
	border-radius: 3px;
	padding: 0.3%;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	word-spacing: 0.3em;
	letter-spacing: 0.1em;
}
.text3 {
	width: 60%;
	position: absolute;
	padding-right: 2em;
	bottom: 19%;
}
.pbb {
	padding-bottom: 1em;
}
.titleText {
	font-size: 4vw;
	text-shadow: 1px 1px 2px black, 0 0 1em white;
	padding-bottom: 1em;
}
.dsText {
	font-size: 1.4vw;
}
